componentName: product-abc
serviceType: ClusterIP

imagePullSecrets:
  - productreg-key
  - myreg-key

registries:
  - name: product
    url: productreg.com
  - name: my-reg
    url: myreg/namespace

runtime:
  registry: product
  image: product-abc-runtime:tag

models:
  - registry: product
    image: model1image:tag
  - registry: product
    image: model1image:tag
  - registry: my-reg
    image: mynamespace/mymodel:latest