# Default values for product-abc.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

serviceType: ClusterIP

imagePullSecrets:
  - name: artifactory-key

imageRegistry: productimageregistry.com
imageRegistryModels: modelimageregistry.com

components:
  abcRuntime:
    name: "product-runtime"
  
images:
  product-abc-container:
    repository: watson-nlp-runtime
    tag: 0.14.0_ubi8_py38

models:
  - image: repository:tag
  - image: repository:tag