# Default values for product-abc.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

componentName: product-abc
serviceType: ClusterIP

imagePullSecrets:
  - name: productreg-key
  - name: myreg-key

registries:
  product:
    url: productreg.com
  my-reg:
    url: myreg/namespace

runtime:
  registry: product
  image: product-abc-runtime:tag

models:
  - registry: product
    image: model1image:tag
  - registry: product
    image: model1image:tag
 - registry: my-reg
    image: mynamespace/mymodel:latest